<div class="container" ng-init="SearchLoad();">
    <div class="header">
      <!--  <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
               <div class="text-center">
                   <h1 class="text-danger" style="display: inline;font-weight: bold">另类逆天的公众号</h1>
               </div>

            </div>
            <div class="col-xs-4"></div>
        </div>-->
        <p></p>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <a href="/" class=""><img class="img-responsive" src="images/logo.png"></a>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control input-lg">
            </div>
            <div class="col-xs-2">
                <a class="btn btn-success btn-lg">
                    摇一摇
                </a>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</div>
<div class="row-fluid main">
    <div class="container">

        <p></p>
        <div class="row first">
            <div class="col-xs-2 cate">
                <h2>逆天</h2>
            </div>
            <div class="col-xs-2">
                <div class="pulc-name">
                    非常准
                </div>
                <div class="pulc-desc">
                    实时跟踪航班动态与飞机位置，机场天气与延误情况。只要发航班号，城市名称，给你各种想了解的内容
                </div>
                <div class="pulc-laud">
                    <div class="clearfix">
                        <a class="pulc-code pull-right" href="javascript:void(0)"></a>
                        <a class="pulc-heart pull-right" href="javascript:void(0)">233</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pulc-name">
                    出门问问
                </div>
                <div class="pulc-desc">
                    基于语音识别技术，查找出各种你所需要的周边的服务。上到宾馆，银行，下到街道厕所
                </div>
                <div class="pulc-laud">
                    <div class="clearfix">
                        <a class="pulc-code pull-right" href="javascript:void(0)"></a>
                        <a class="pulc-heart pull-right" href="javascript:void(0)">233</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pulc-name">
                    孤独星球
                </div>
                <div class="pulc-desc">
                    负责任的旅行，有态度的探索。
                    这是各地旅行的走心的点，和好吃的好吃的，绝不是打广告，同时强调对旅行文化和自然环境的责任
                </div>
                <div class="pulc-laud">
                    <div class="clearfix">
                        <a class="pulc-code pull-right" href="javascript:void(0)"></a>
                        <a class="pulc-heart pull-right" href="javascript:void(0)">233</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pulc-name">
                    车来了
                </div>
                <div class="pulc-desc">
                    可以查看实时公交到哪里了，隔一会儿刷新一下，公交到公司还有两站地的时候开始收拾东西下楼！到车站时掐点上公交，瞬间高大上了有木有？
                </div>
                <div class="pulc-laud">
                    <div class="clearfix">
                        <a class="pulc-code pull-right" href="javascript:void(0)"></a>
                        <a class="pulc-heart pull-right" href="javascript:void(0)">233</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pulc-name">
                    非常准
                </div>
                <div class="pulc-desc">
                    实时跟踪航班动态与飞机位置，机场天气与延误情况。只要发航班号，城市名称，给你各种想了解的内容
                </div>
                <div class="pulc-laud">
                    <div class="clearfix">
                        <a class="pulc-code pull-right" href="javascript:void(0)"></a>
                        <a class="pulc-heart pull-right" href="javascript:void(0)">233</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 cate">
                <h2>出行</h2>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-2 cate">
                <h2>阅读</h2>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-2 cate">
                <h2>读诗</h2>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
        </div>

        <div class="row">
            <div class="col-xs-2 cate">
                <h2>Kindle</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 cate">
                <h2>手机党</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 cate">
                <h2>说出你的</h2>
            </div>
        </div>
    </div>
</div>

